<!-- <div>
    <div (click)="loadComponent('account-details')">Account Details</div>
    <div (click)="loadComponent('funds-transfer')">Funds Transfer</div>
    <div (click)="loadComponent('nominee-maintenance')">Nominee Maintenance</div>
    <div (click)="loadComponent('profile')">Profile</div>
</div> -->

<div class="menu">
    <div class="account" [routerLink]="['/main', 'account-details']">Account Details</div>
    <div class="funds" [routerLink]="['/main', 'funds-transfer']">Funds Transfer</div>
    <div class="nominee" [routerLink]="['/main', 'nominee-maintenance']">Nominee Maintenance</div>
    <div class="profile" [routerLink]="['/main', 'profile']">Profile</div>
    <div class="logout" [routerLink]="['/login']">Logout</div>
</div>