.menu {
    width: 25%;
    height: 350px;
    padding: 20px;
    background-color: bisque;
}

.menu div {
    cursor: pointer;
    margin-bottom: 10px;
}

.account {
    margin: 30px 100px; 
}

.funds {
    margin: 30px 100px;
}

.nominee {
    margin: 30px 100px;
}

.profile {
    margin: 30px 100px;
}

.logout {
    margin: 30px 100px;
}